<h1>All Tools</h1>

<ul>
<% @tools.each do |tool| %>
  <h2><li><%= tool.name %></li> <%= link_to "Edit Tool", "/tools/#{tool.id}/edit" %></h2>
    <ul>
      <li>Tool ID: <%= tool.id %></li>
      <li>Is the tool in working conditon? <%= tool.working_condition %></li>
      <li>How many? <%= tool.quantity %></li>
      <li>Created at: <%= tool.created_at %></li>
      <li>Updated at: <%= tool.updated_at %></li>
      <li>Toolbox ID: <%= tool.toolbox_id %></li>
    </ul>
      
<% end %>
</ul>